<mat-card>
    <mat-card-header>
        <mat-card-title>
            <button mat-button [matMenuTriggerFor]="menu">{{currentForm}}</button>
            <mat-divider></mat-divider>
            <mat-menu #menu="matMenu">
                <button mat-menu-item
                (click)="setCurrentForm('Log in')">Log in</button>
                <button mat-menu-item
                (click)="setCurrentForm('Register')">Register</button>
            </mat-menu>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <div>
                <mat-form-field>
                    <mat-label>{{currentForm === 'Log in' ? "Enter your username" : "Choose a username"}}</mat-label>
                    <input type="username" name="username" id="username" [formControl]="username" matInput>
                    <mat-error *ngIf="username.invalid">
                        {{username.value ? "Username too long" : "You must enter a value"}}
                    </mat-error>
                    <mat-icon matSuffix [inline]="true">account_circle</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{currentForm === 'Log in' ? "Enter your password" : "Choose a password"}}</mat-label>
                    <input type="password" name="password" id="password" [formControl]="password" matInput [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="password.invalid">
                        {{password.value ? "Password too long" : "You must enter a value"}}
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <template *ngIf="currentForm ==='Register'; then confirm_password"></template>
            <ng-template #confirm_password>
                <mat-form-field>
                    <mat-label>Confirm password</mat-label>
                    <input type="confirmPass" name="confirmPass" id="confirmPass" [formControl]="confirmPass" matInput [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="confirmPass.invalid">{{confirmPass.errors?.required ? "You must enter a value" : "Passwords must match"}}</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </ng-template>
            <div class="submitBtn">
                <button color="primary" mat-button (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
