html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-image: url(waves.svg), url(waves2.svg), url(waves3.svg), linear-gradient(#87ceeb, #60c7f4);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

header {
    flex: 0 1 auto;
}

main {
    display: flex;
    flex: 1 1 auto;
    margin-top: 5rem;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}

footer {
    display: flex;
    padding-top: 5rem;
    align-items: center;
    justify-content: center;
}

.plainButton {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}