td, th {
  padding: 5px 30px !important;
}

td:not(:first-child):hover {
  background-color: lightblue;
  cursor: pointer;
}

.submitForm {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.submitForm button {
  height: min-content;
  align-self: center;
}

mat-icon {
  font-size: inherit;
}

.scrollMode {
  overflow-x: scroll;
  margin-left: 15%;
  margin-right: 15%;
}