td, th {
  padding: 5px 30px !important;
}

td {
  opacity: 1;
}

td:not(:first-child):hover {
  animation-name: glimmer;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes glimmer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

.submitForm {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.submitForm button {
  height: min-content;
  align-self: center;
}

mat-icon {
  font-size: inherit;
}

.scrollMode {
  overflow-x: scroll;
  margin-left: 15%;
  margin-right: 15%;
}