mat-toolbar {
    background-color: #524fff;
    color: white;
}

.logo {
    text-decoration: inherit;
    color: inherit;
}

.spacer {
    flex: 1 1 auto;
}

.plainButton {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
