h1 {
    font-family: monospace;
    text-align: center;
}

p {
    font-variant: small-caps;
}

.disguisedButton {
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
  }