
<article>
    <h1>Welcome</h1>

    <p>
        This is a project created by <em>Basil Eagle</em> to track
        <br />
        daily habits & encourage positive reinforcement.
        <br />
        It was made with <em>Angular</em>, <em>MySQL</em>, and <em>Node.js</em>.
    </p>

    <p>
        To get started, <a routerLink='/login'>log in</a> or <a routerLink="/register">register</a>. 
        <br />
        To view the <em>Github</em> page for this project, <a href='https://github.com/EnemigoPython/angular-activity-logger' target="_blank">click here</a>.
    </p>
</article>