<div>
    <h3>{{data.name}}</h3>
    <mat-button-toggle-group name="activityState" [(ngModel)]="activityState" aria-label="activityState">
        <mat-button-toggle value="Failed">Failed</mat-button-toggle>
        <mat-button-toggle value="In Progress" (click)="onProgressSelect()">In Progress</mat-button-toggle>
        <mat-button-toggle value="Completed">Completed</mat-button-toggle>
    </mat-button-toggle-group>
    <div id="progressSegment" *ngIf="activityState === 'In Progress'">
        <span>Progress: {{percentFormat(state)}}</span>
        <mat-slider min="1" max="99" [(ngModel)]="state" thumbLabel [displayWith]="percentFormat" color="primary" aria-label="progress"></mat-slider>
    </div>
    <div>
        <textarea matInput maxlength="256" rows="4" [(ngModel)]="notes" placeholder="Notes"></textarea>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button (click)="onSave()" cdkFocusInitial>Save</button>
    </div>
</div>