<div>
    <h3>{{data.name}}</h3>
    <mat-button-toggle-group name="activityState" [(ngModel)]="activityState" aria-label="activityState">
        <mat-button-toggle value="Failed">Failed</mat-button-toggle>
        <mat-button-toggle value="In Progress">In Progress</mat-button-toggle>
        <mat-button-toggle value="Completed">Completed</mat-button-toggle>
    </mat-button-toggle-group>
    <div *ngIf="activityState === 'In Progress'">
        <h4>Progress</h4>
        <mat-slider aria-label="unit(s)"></mat-slider>
    </div>
    <div mat-dialog-actions>
        <button mat-button>Cancel</button>
        <button mat-button cdkFocusInitial>Save</button>
    </div>
</div>