<div>
    <h3>{{data.name}}</h3>
    <mat-button-toggle-group name="activityState" [(ngModel)]="activityState" aria-label="activityState">
        <mat-button-toggle value="Failed">Failed</mat-button-toggle>
        <mat-button-toggle value="In Progress">In Progress</mat-button-toggle>
        <mat-button-toggle value="Completed">Completed</mat-button-toggle>
    </mat-button-toggle-group>
    <div id="progressSegment" *ngIf="activityState === 'In Progress'">
        <span>Progress </span>
        <mat-slider min="1" max="99" thumbLabel [displayWith]="percentFormat" color="primary" aria-label="progress"></mat-slider>
    </div>
    <div>
        <input matInput maxlength="256" placeholder="Notes">
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button cdkFocusInitial>Save</button>
    </div>
</div>