div {
    overflow: hidden;
}

#progressSegment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

mat-slider {
    margin-top: 17px;
}

span {
    margin-right: 15px;
}

textarea {
    margin: 15px;
}